{% extends 'teacher/teacher.html' %}
{% block teacher_content %}
    {% load static %}

    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header justify-content-between d-flex flex-row py-3">
                <h6 class="m-0 font-weight-bold text-primary">create new chapter</h6>
            </div>
            <form action="create_chapter" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="row p-5">
                    <div class="col-md-6 mt-3">
                        <label for="title" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name"/>
                    </div>


                    <div class="col-md-6 mt-3">
                        <label for="title" class="form-label">Description</label>
                        <textarea type="text" rows="3" name="description" class="form-control"
                                  id="description"></textarea>
                    </div>


                    <div class="col-md-6 mt-3">
                        <label for="title" class="form-label">Order Number </label>
                        <input type="number" name="orderNumber" class="form-control" id="orderNumber"/>
                    </div>


                    <div class="col-md-6 mt-3">
                        <label for="title" class="form-label">Image</label>
                        <input type="file" name="image" class="form-control" id="image"/>
                    </div>

                    <div class="col-md-6  mt-3">
                        <label for="oldPrice" class="form-label">Video</label>
                        <input type="file" name="video" class="form-control" id="video">
                    </div>

                    <div class="col-md-6  mt-3">
                        <label for="oldPrice" class="form-label">Select course</label>
                        <select name="filter" id="filter" class="form-select"
                                aria-label="Default select example">
                            {% for course in courses %}
                                <option value="{{ course.id }}">Courses for {{ course.title }}</option>
                            {% endfor %}
                        </select>
                    </div>


                </div>
                <div class="row pb-5">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button style="width: 100%" type="submit" class="btn btn-outline-primary">SAVE</button>

                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}