{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <!-- Spinner Start -->
    {% include 'spinner.html' %}
    <!-- Spinner End -->


    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <div>
        {% block home_content %}
        {% endblock %}
    </div>

    <!-- Footer Start -->
    {% include 'footer.html' %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}